apiVersion: v1
kind: ConfigMap
metadata:
    name: prometheus-config
    namespace: default
data:
    prometheus.yml: |
        global:
            scrape_interval: 5s
            evaluation_interval: 5s

        scrape_configs:
        -   job_name: 'acp-nodes'
            kubernetes_sd_configs:
            -   role: pod
                namespaces:
                    names:
                        - default
            relabel_configs:
            -   source_labels: [__meta_kubernetes_pod_label_app]
                action: keep
                regex: acp-node
            -   source_labels: [__meta_kubernetes_pod_name]
                target_label: instance
            -   source_labels: [__meta_kubernetes_pod_container_port_name]
                action: keep
                regex: metrics
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: prometheus
    namespace: default
spec:
    replicas: 1
    selector:
        matchLabels:
            app: prometheus
    template:
        metadata:
            labels:
                app: prometheus
        spec:
            containers:
                - name: prometheus
                  image: prom/prometheus:latest
                  ports:
                      - containerPort: 9090
                        name: web
                  volumeMounts:
                      - name: config
                        mountPath: /etc/prometheus
                      - name: data
                        mountPath: /prometheus
            volumes:
                - name: config
                  configMap:
                      name: prometheus-config
                - name: data
                  emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
    name: prometheus
    namespace: default
spec:
    type: NodePort
    selector:
        app: prometheus
    ports:
        - port: 9090
          targetPort: 9090
          nodePort: 30090
          name: web
