# headless service for StatefulSet peer disc
apiVersion: v1
kind: Service
metadata:
    name: acp-headless
    namespace: default
spec:
    clusterIP: None
    selector:
        app: acp-node
    ports:
        - port: 8080
          name: grpc
          protocol: TCP
        - port: 9090
          name: metrics
          protocol: TCP
---
# service for client access
apiVersion: v1
kind: Service
metadata:
    name: acp-service
    namespace: default
spec:
    type: NodePort
    selector:
        app: acp-node
    ports:
        - port: 8080
          targetPort: 8080
          nodePort: 30080
          name: grpc
          protocol: TCP
